.noShow{
    display: none !important;
    box-shadow: none;
}
.show{
    display: flex;
}

/* -------------- Login Page ---------------------*/

.loginPage{
    display: flex;
    flex-direction: column;
    font-family: "Comic Sans MS", cursive,sans-serif;
    gap: 200px;
}
.loginPage #h1Login{
    font-size: 5rem;
    text-align: center;
}

#loginPageIdInput{
    width: 600px;
    height: 55px;
    font-size: 3rem;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 2px 2px rgb(111, 154, 169);
}
.loginPage #loginPageSubmit{
    align-self: center;
    align-content: center;
    width: 400px;
    background-color: aliceblue;
    font-size: 3rem;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px rgb(111, 154, 169);
}

.loginPage #h1Login:hover{
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

.loginPage #loginPageIdInput:hover{
    transition: transform 0.3s ease;
    transform: scale(1.1);
}
.loginPage #loginPageSubmit:hover{
    background-color: hsl(209, 61%, 92%);
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

.loginPage #loginPageSubmit:active{
    background-color: hsl(207, 73%, 90%);
}


/* ------------------- Main Page ----------------*/


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: rgb(209, 236, 245);
}


#nameGiven,#messageInput{
    margin-top: 40px;
    width: 300px;
    height: 30px;
    background-color: rgb(217, 215, 215);
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-size: 1.3rem;
    font-family: monospace;
}
.showWelcome{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.3rem;
    font-family: monospace;
    color: rgb(0, 0, 0);

}

#botonSubmit,#submitName{
    width: 90px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: rgb(174, 173, 173);
    font-size: 1.3rem;
    font-family: monospace;
}

#divButtonThinkofu{
    display: flex;
    flex-direction: column;
}
#buttonThinkofu{
    font-family: "Comic Sans MS", cursive,sans-serif;
    align-self: center;
    font-size: 2rem;
    border-radius: 400px;
    width: 200px;
    height: 200px;
    border: none;
    background-color: hsl(353, 83%, 79%);
    transition: background-color 1.5s ease;
}
#buttonThinkofu:active{
    background-color: hsl(350, 94%, 72%);;
}

#chat{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(0, 0, 0, 0.426);
    height: 50vh;
    width: 40vh;
    overflow-y: auto;
    border-radius: 20px;
    scroll-behavior: smooth;
}

#chat p{
    font-family: monospace;
    margin: 10px 10px;
    font-size: 1rem;
}

#divFindPartner{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
#butonfindPartner{
    font-size: 1rem;
    border: none;
    background-color: rgba(245, 217, 222, 0.495);
    border-radius: 20px;
    width: 200px;
    height: 60px;
}

#butonfindPartner:hover {
    background-color: rgba(243, 203, 211, 0.581);
}
#butonfindPartner:active {
    background-color: rgba(243, 203, 211, 0.852);
}
#findPartnerInput{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.495);
    border-radius: 20px;
    width: 200px;
    height: 40px;
}



.askName{
    display: none;
}
.askName.show{
    display: block;
}